# Port untuk menjalankan server backend (default: 5000)
PORT=5000

# Environment: development | production | test (default: development)
NODE_ENV=development

# URL origin yang diizinkan untuk CORS (pisahkan dengan koma jika lebih dari satu, default: *)
# Contoh: http://localhost:3000 atau https://domain-frontend-anda.com
CORS_ORIGIN=http://localhost:3000
